@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DNL。Search</title>
    <link href="~/css/font.css" rel="stylesheet" />
    <link href="~/css/common.css" rel="stylesheet" />
    <link href="~/css/search.css" rel="stylesheet" />
    <link href="~/css/search_v.css" rel="stylesheet" />
</head>
<body>
    <div class="top">
        <div id="span_userinfo"></div>
    </div>
    <div id="header">
        <a id="logo" href="/"><img style="width: 100%;height:90%" alt="dotnetlive 搜一搜logo" src="/images/logo.png" /></a>

        <div class="index_sozone">

            <div class="index_tab">
                <a class="tab_selected " href="/s/blogpost?Keywords=.net">博客</a>
                <a class="" href="/s/question?Keywords=.net">论坛</a>
            </div>

            <div>
                <form action="/s/blogpost" autocomplete="off" method="get">
                    <div class="index_btn">
                        <input type="submit" class="btn_so_index" value="&nbsp;搜一下&nbsp;" />
                    </div>
                    <input class="input_index" id="w" name="Keywords" type="text" value="" />
                </form>
            </div>

        </div>
        <div style="clear: both"></div>
        <div id="searchInfo">
            <span style="float: left; margin-left: 15px;"></span>DNL。Search，找到相关内容<b id="CountOfResults">751343</b>篇，用时141毫秒
        </div>
        <!--end: searchInfo -->
    </div>
    <!--end: header -->
    <div id="main">
        <div id="searchResult">
            <div style="clear: both">
            </div>
            <div class="forflow">
                <div class="searchItem">
                    <h3 class="searchItemTitle">
                        <a target="_blank" href="http://www.cnblogs.com/JimmyZhang/archive/2012/11/27/2790759.html">.<strong>NET</strong>框架</a>
                    </h3>
                    <!--end: searchItemTitle -->
                    <span class="searchCon">
                        .<strong>NET</strong>框架 本书是一本讲解.<strong>NET</strong>技术的书籍，目标读者群也是在.<strong>NET</strong>框架（.<strong>NET</strong> Framework）下进行开发的程序员，因此我们无法回避的问题就是...<strong>NET</strong>的语言。编译后生成的文件都可以在.<strong>NET</strong>运行时下执行，这就是大家所熟知的.<strong>NET</strong>多语言支持。 在开发阶段，.<strong>NET</strong>提供了一个庞大的类库，支持开发者快速开发
                    </span>
                    <!--end: searchCon -->
                    <div class="searchItemInfo">
                        <span class="searchItemInfo-userName">
                            <a href="http://www.cnblogs.com/jimmyzhang" target="_blank">jimmy zhang</a>
                        </span>
                        <span class="searchItemInfo-publishDate">2012-11-27</span>
                        <span class="searchItemInfo-good">推荐(103)</span>
                        <span class="searchItemInfo-comments">评论(83)</span>
                        <span class="searchItemInfo-views">浏览(40689)</span>

                    </div>
                    <div class="searchItemInfo">
                        <span class="searchURL">http://www.cnblogs.com/JimmyZhang/archive/2012/11/27/2790759.html</span>
                    </div>
                </div>

                <div class="searchItem">
                    <h3 class="searchItemTitle">
                        <a target="_blank" href="http://www.cnblogs.com/piziyimao/archive/2013/01/31/2887072.html">Lucene.<strong>Net</strong></a>
                    </h3>
                    <!--end: searchItemTitle -->
                    <span class="searchCon">
                        Lucene.<strong>Net</strong>.Analysis.PanGu; using Lucene.<strong>Net</strong>.Documents; using Lucene.<strong>Net</strong>.Index; ... Lucene.<strong>Net</strong>.Analysis.PanGu; using Lucene.<strong>Net</strong>.Documents; using Lucene.<strong>Net</strong>.Index;
                    </span>
                    <!--end: searchCon -->
                    <div class="searchItemInfo">
                        <span class="searchItemInfo-userName">
                            <a href="http://www.cnblogs.com/piziyimao" target="_blank">痞子一毛</a>
                        </span>
                        <span class="searchItemInfo-publishDate">2013-01-31</span>
                        <span class="searchItemInfo-good">推荐(59)</span>
                        <span class="searchItemInfo-comments">评论(41)</span>
                        <span class="searchItemInfo-views">浏览(25291)</span>

                    </div>
                    <div class="searchItemInfo">
                        <span class="searchURL">http://www.cnblogs.com/piziyimao/archive/2013/01/31/2887072.html</span>
                    </div>
                </div>

                <div class="searchItem">
                    <h3 class="searchItemTitle">
                        <a target="_blank" href="http://www.cnblogs.com/sydeveloper/archive/2013/03/06/2909739.html">ADO.<strong>NET</strong></a>
                    </h3>
                    <!--end: searchItemTitle -->
                    <span class="searchCon">
                        简单介绍ADO.<strong>NET</strong> System.Data：DataTable,DataSet,DataRow,DataColumn,DataRelation,Constr...的话，它的值为.<strong>NET</strong> SqlClient Data Provider（数据提供程序）。 AttachDBFileName/extended propertie
                    </span>
                    <!--end: searchCon -->
                    <div class="searchItemInfo">
                        <span class="searchItemInfo-userName">
                            <a href="http://www.cnblogs.com/sydeveloper" target="_blank">飛雲若雪</a>
                        </span>
                        <span class="searchItemInfo-publishDate">2013-03-06</span>
                        <span class="searchItemInfo-good">推荐(14)</span>
                        <span class="searchItemInfo-comments">评论(4)</span>
                        <span class="searchItemInfo-views">浏览(17977)</span>

                    </div>
                    <div class="searchItemInfo">
                        <span class="searchURL">http://www.cnblogs.com/sydeveloper/archive/2013/03/06/2909739.html</span>
                    </div>
                </div>

                <div class="searchItem">
                    <h3 class="searchItemTitle">
                        <a target="_blank" href="http://www.cnblogs.com/dubing/archive/2013/03/20/2970984.html">.<strong>Net</strong> 玩单反</a>
                    </h3>
                    <!--end: searchItemTitle -->
                    <span class="searchCon">
                        提供了dll给.<strong>net</strong>开发者引用，通过对sdk的调用可以方便的佳能对应型号的相机，不过对于获取相机内的数据.<strong>net</strong>版本 sdk中并没有提供。那么如何获取单反相机...,佳能sdk .<strong>net</strong>版本中提供5种句柄委托 public delegate uint EdsProgressCallback( uint i
                    </span>
                    <!--end: searchCon -->
                    <div class="searchItemInfo">
                        <span class="searchItemInfo-userName">
                            <a href="http://www.cnblogs.com/dubing" target="_blank">熬夜的虫子</a>
                        </span>
                        <span class="searchItemInfo-publishDate">2013-03-20</span>
                        <span class="searchItemInfo-good">推荐(18)</span>
                        <span class="searchItemInfo-comments">评论(25)</span>
                        <span class="searchItemInfo-views">浏览(6255)</span>

                    </div>
                    <div class="searchItemInfo">
                        <span class="searchURL">http://www.cnblogs.com/dubing/archive/2013/03/20/2970984.html</span>
                    </div>
                </div>

                <div class="searchItem">
                    <h3 class="searchItemTitle">
                        <a target="_blank" href="http://www.cnblogs.com/T-MAC/p/fastsocket.html">FastSocket.<strong>Net</strong></a>
                    </h3>
                    <!--end: searchItemTitle -->
                    <span class="searchCon">
                        tSocket.<strong>Net</strong> FastSocket内置了命令行、二进制、thrift协议，基于此开发了Zookeeper, Redis, Thrift等c#异步客户...ements .<strong>Net</strong> 4.0 or Mono 2.6 Example Usage 简单的命令行服务 新建控制台项目，添加FastSocket.Socket
                    </span>
                    <!--end: searchCon -->
                    <div class="searchItemInfo">
                        <span class="searchItemInfo-userName">
                            <a href="http://www.cnblogs.com/t-mac" target="_blank">dev.hong</a>
                        </span>
                        <span class="searchItemInfo-publishDate">2013-08-16</span>
                        <span class="searchItemInfo-good">推荐(13)</span>
                        <span class="searchItemInfo-comments">评论(25)</span>
                        <span class="searchItemInfo-views">浏览(6067)</span>

                    </div>
                    <div class="searchItemInfo">
                        <span class="searchURL">http://www.cnblogs.com/T-MAC/p/fastsocket.html</span>
                    </div>
                </div>

                <div class="searchItem">
                    <h3 class="searchItemTitle">
                        <a target="_blank" href="http://www.cnblogs.com/xishuai/p/mono-dotnetcore.html">魅力 .<strong>NET</strong>：从 Mono、.<strong>NET</strong> Core 说起</a>
                    </h3>
                    <!--end: searchItemTitle -->
                    <span class="searchCon">
                        ，CLR 和 .<strong>NET</strong> Framework（.<strong>NET</strong> 框架）完全不是一个概念，.<strong>NET</strong> Framework 是以一种采用系统虚拟机运行的编程平台，以 CLR 为...平台下开发的 .<strong>NET</strong> 应用程序，是深深依赖于 .<strong>NET</strong> Framework（深深的那种），你的应用程序代码基本上都是在它之上完成的，而 .<strong>NET</strong> Framew
                    </span>
                    <!--end: searchCon -->
                    <div class="searchItemInfo">
                        <span class="searchItemInfo-userName">
                            <a href="http://www.cnblogs.com/xishuai" target="_blank">田园里的蟋蟀</a>
                        </span>
                        <span class="searchItemInfo-publishDate">2015-01-28</span>
                        <span class="searchItemInfo-good">推荐(85)</span>
                        <span class="searchItemInfo-comments">评论(98)</span>
                        <span class="searchItemInfo-views">浏览(12447)</span>

                    </div>
                    <div class="searchItemInfo">
                        <span class="searchURL">http://www.cnblogs.com/xishuai/p/mono-dotnetcore.html</span>
                    </div>
                </div>

                <div class="searchItem">
                    <h3 class="searchItemTitle">
                        <a target="_blank" href="http://www.cnblogs.com/tommyli/archive/2009/02/09/1386644.html">Quartz.<strong>NET</strong></a>
                    </h3>
                    <!--end: searchItemTitle -->
                    <span class="searchCon">
                        和你的团队是用.<strong>NET</strong>编程吗？如果这些问题中任何一个你回答是，那么你应该使用Quartz.<strong>NET</strong>调度器。 Quartz.<strong>NET</strong>允许开发人员根据时间间隔（或天）来...ceforge.<strong>net</strong>/tutorial.html） Quartz.<strong>net</strong>官方开发指南 第一课：使用Quartz.<strong>net</strong> 使用schedule
                    </span>
                    <!--end: searchCon -->
                    <div class="searchItemInfo">
                        <span class="searchItemInfo-userName">
                            <a href="http://www.cnblogs.com/tommyli" target="_blank">李占卫</a>
                        </span>
                        <span class="searchItemInfo-publishDate">2009-02-09</span>
                        <span class="searchItemInfo-good">推荐(10)</span>
                        <span class="searchItemInfo-comments">评论(4)</span>
                        <span class="searchItemInfo-views">浏览(17934)</span>

                    </div>
                    <div class="searchItemInfo">
                        <span class="searchURL">http://www.cnblogs.com/tommyli/archive/2009/02/09/1386644.html</span>
                    </div>
                </div>

                <div class="searchItem">
                    <h3 class="searchItemTitle">
                        <a target="_blank" href="http://www.cnblogs.com/fan0136/archive/2009/09/21/1571238.html">经典.<strong>net</strong>面试题目</a>
                    </h3>
                    <!--end: searchItemTitle -->
                    <span class="searchCon">
                        97.在.<strong>Net</strong>中，类System.Web.UI.Page 可以被继承么？ 答：可以。 98..<strong>net</strong>的错误处理机制是什么？ 答：.<strong>net</strong>错误处理机制...108.ADO。<strong>NET</strong>相对于ADO等主要有什么改进？ 答：1:ado.<strong>net</strong>不依赖于ole db提供程序,而是使用.<strong>net</strong>托管提供的程序,2:不使用com3:不
                    </span>
                    <!--end: searchCon -->
                    <div class="searchItemInfo">
                        <span class="searchItemInfo-userName">
                            <a href="http://www.cnblogs.com/fan0136" target="_blank">fan0136</a>
                        </span>
                        <span class="searchItemInfo-publishDate">2009-09-21</span>
                        <span class="searchItemInfo-good">推荐(31)</span>
                        <span class="searchItemInfo-comments">评论(47)</span>
                        <span class="searchItemInfo-views">浏览(178339)</span>

                    </div>
                    <div class="searchItemInfo">
                        <span class="searchURL">http://www.cnblogs.com/fan0136/archive/2009/09/21/1571238.html</span>
                    </div>
                </div>

                <div class="searchItem">
                    <h3 class="searchItemTitle">
                        <a target="_blank" href="http://www.cnblogs.com/wisdomqq/archive/2012/03/29/2417723.html">详解 ASP.<strong>NET</strong>异步</a>
                    </h3>
                    <!--end: searchItemTitle -->
                    <span class="searchCon">
                        那么ASP.<strong>NET</strong>异步指的又是什么，解决了什么问题呢？ 在解释ASP.<strong>NET</strong>异步前，先来考察下ASP.<strong>NET</strong>线程模型。 ASP.NE...前一篇：详解 .<strong>NET</strong> 异步 在前文中，介绍了.<strong>NET</strong>下的多种异步的形式，在WEB程序中，天生就是多线程的，因此使用异步应该更为谨慎。本文将着重展开
                    </span>
                    <!--end: searchCon -->
                    <div class="searchItemInfo">
                        <span class="searchItemInfo-userName">
                            <a href="http://www.cnblogs.com/wisdomqq" target="_blank">钧梓昊逑</a>
                        </span>
                        <span class="searchItemInfo-publishDate">2012-03-29</span>
                        <span class="searchItemInfo-good">推荐(93)</span>
                        <span class="searchItemInfo-comments">评论(60)</span>
                        <span class="searchItemInfo-views">浏览(22689)</span>

                    </div>
                    <div class="searchItemInfo">
                        <span class="searchURL">http://www.cnblogs.com/wisdomqq/archive/2012/03/29/2417723.html</span>
                    </div>
                </div>

                <div class="searchItem">
                    <h3 class="searchItemTitle">
                        <a target="_blank" href="http://www.cnblogs.com/kulong995/p/5237796.html">echarts .<strong>NET</strong>类库开源</a>
                    </h3>
                    <!--end: searchItemTitle -->
                    <span class="searchCon">
                        Charts .<strong>Net</strong>类库 当前版本1.0.1 Echarts 本项目是一个供.<strong>NET</strong>开发者使用的ECharts的开发包,主要目的是方便在.<strong>NET</strong>中构件Echa...里看到很多看衰.<strong>net</strong>的文章，我无法判断对错,也不想引起争论,不过我只是简单喜欢编程的人,能够做自己喜欢的事就好,其实好的环境需要大家一起营造，我也想为.<strong>net</strong>
                    </span>
                    <!--end: searchCon -->
                    <div class="searchItemInfo">
                        <span class="searchItemInfo-userName">
                            <a href="http://www.cnblogs.com/kulong995" target="_blank">冰の酷龙</a>
                        </span>
                        <span class="searchItemInfo-publishDate">2016-03-03</span>
                        <span class="searchItemInfo-good">推荐(96)</span>
                        <span class="searchItemInfo-comments">评论(63)</span>
                        <span class="searchItemInfo-views">浏览(7293)</span>

                    </div>
                    <div class="searchItemInfo">
                        <span class="searchURL">http://www.cnblogs.com/kulong995/p/5237796.html</span>
                    </div>
                </div>

                <div class="searchItem">
                    <h3 class="searchItemTitle">
                        <a target="_blank" href="http://www.cnblogs.com/jys509/p/4628926.html">Quartz.<strong>NET</strong> 入门</a>
                    </h3>
                    <!--end: searchItemTitle -->
                    <span class="searchCon">
                        Quartz.<strong>NET</strong>是一个开源的作业调度框架，非常适合在平时的工作中，定时轮询数据库同步，定时邮件通知，定时处理数据等。 Quartz.<strong>NET</strong>允许开发人员根据...ler.<strong>net</strong>/documentation/index.html 使用实例介绍：http://www.quartz-scheduler.<strong>net</strong>/document
                    </span>
                    <!--end: searchCon -->
                    <div class="searchItemInfo">
                        <span class="searchItemInfo-userName">
                            <a href="http://www.cnblogs.com/jys509" target="_blank">jiangys</a>
                        </span>
                        <span class="searchItemInfo-publishDate">2015-07-09</span>
                        <span class="searchItemInfo-good">推荐(80)</span>
                        <span class="searchItemInfo-comments">评论(78)</span>
                        <span class="searchItemInfo-views">浏览(27662)</span>

                    </div>
                    <div class="searchItemInfo">
                        <span class="searchURL">http://www.cnblogs.com/jys509/p/4628926.html</span>
                    </div>
                </div>

                <div class="searchItem">
                    <h3 class="searchItemTitle">
                        <a target="_blank" href="http://www.cnblogs.com/jesse2013/p/Asynchronous-Programming-In-DotNet.html">异步编程 In .<strong>NET</strong></a>
                    </h3>
                    <!--end: searchItemTitle -->
                    <span class="searchCon">
                        外异步的ASP.<strong>NET</strong>并非只有async/await才可以做的，ASP.<strong>NET</strong>在Web Form时代就已经有异步Page了，包括ASP.<strong>NET</strong> MVC不是也有异...方式。 ASP.<strong>NET</strong>并行处理的步骤 ASP.<strong>NET</strong>是如何在IIS中工作的一文已经很详细的介绍了一个请求是如何从客户端到服务器的HTTP.SYS最后进入C
                    </span>
                    <!--end: searchCon -->
                    <div class="searchItemInfo">
                        <span class="searchItemInfo-userName">
                            <a href="http://www.cnblogs.com/jesse2013" target="_blank">腾飞（jesse)</a>
                        </span>
                        <span class="searchItemInfo-publishDate">2014-07-15</span>
                        <span class="searchItemInfo-good">推荐(410)</span>
                        <span class="searchItemInfo-comments">评论(154)</span>
                        <span class="searchItemInfo-views">浏览(22512)</span>

                    </div>
                    <div class="searchItemInfo">
                        <span class="searchURL">http://www.cnblogs.com/jesse2013/p/Asynchronous-Programming-In-DotNet.html</span>
                    </div>
                </div>

                <div class="searchItem">
                    <h3 class="searchItemTitle">
                        <a target="_blank" href="http://www.cnblogs.com/yizhu2000/archive/2008/01/03/1011958.html">.<strong>Net</strong>线程问题解答</a>
                    </h3>
                    <!--end: searchItemTitle -->
                    <span class="searchCon">
                        么用的 这是.<strong>net</strong>的一个异步方法名称规范 .<strong>Net</strong>在设计的时候为异步编程设计了一个异步编程模型（APM），这个模型不仅是使用.<strong>NET</strong>的开发人员使用，.<strong>Net</strong>...el/ 但是在.<strong>Net</strong>下,这样的技巧是成立的,因为.<strong>Net</strong>使用了改进的内存模型 并且在.<strong>Net</strong>下,我们可以使用LazyInit来实现单件 private sta
                    </span>
                    <!--end: searchCon -->
                    <div class="searchItemInfo">
                        <span class="searchItemInfo-userName">
                            <a href="http://www.cnblogs.com/yizhu2000" target="_blank">朱燚:-)</a>
                        </span>
                        <span class="searchItemInfo-publishDate">2008-01-03</span>
                        <span class="searchItemInfo-good">推荐(25)</span>
                        <span class="searchItemInfo-comments">评论(96)</span>
                        <span class="searchItemInfo-views">浏览(35909)</span>

                    </div>
                    <div class="searchItemInfo">
                        <span class="searchURL">http://www.cnblogs.com/yizhu2000/archive/2008/01/03/1011958.html</span>
                    </div>
                </div>

                <div class="searchItem">
                    <h3 class="searchItemTitle">
                        <a target="_blank" href="http://www.cnblogs.com/dolphinX/p/3242408.html">ASP.<strong>NET</strong> 使用Ajax</a>
                    </h3>
                    <!--end: searchItemTitle -->
                    <span class="searchCon">
                        周期 json.<strong>net</strong>和本文示例源代码 json.<strong>net</strong>是一个开源的.<strong>net</strong>平台处理json的库，可以序列化Dictionay嵌套等复杂对象，关于其简单使用有时...将介绍在ASP.<strong>NET</strong>中如何方便使用Ajax，第一种当然是使用jQuery的ajax，功能强大而且操作简单方便，第二种是使用.<strong>NET</strong>封装好的ScriptMana
                    </span>
                    <!--end: searchCon -->
                    <div class="searchItemInfo">
                        <span class="searchItemInfo-userName">
                            <a href="http://www.cnblogs.com/dolphinx" target="_blank">samaritans</a>
                        </span>
                        <span class="searchItemInfo-publishDate">2013-08-07</span>
                        <span class="searchItemInfo-good">推荐(23)</span>
                        <span class="searchItemInfo-comments">评论(25)</span>
                        <span class="searchItemInfo-views">浏览(24006)</span>

                    </div>
                    <div class="searchItemInfo">
                        <span class="searchURL">http://www.cnblogs.com/dolphinX/p/3242408.html</span>
                    </div>
                </div>

                <div class="searchItem">
                    <h3 class="searchItemTitle">
                        <a target="_blank" href="http://www.cnblogs.com/yangcaogui/archive/2012/06/09/2537086.html">ADO.<strong>NET</strong> - 全面梳理</a>
                    </h3>
                    <!--end: searchItemTitle -->
                    <span class="searchCon">
                        须知道的ADO.<strong>NET</strong>（六） 谈谈Command对象与数据检索 你必须知道的ADO.<strong>NET</strong>（七） Wow！Command对象高级应用 四...文章：→ 深入.<strong>NET</strong> DataTable(写的很仔细，不错，一定要看的)，还有这篇 → 深入.<strong>NET</strong> DataTable(补遗)。 3.DataSet，D
                    </span>
                    <!--end: searchCon -->
                    <div class="searchItemInfo">
                        <span class="searchItemInfo-userName">
                            <a href="http://www.cnblogs.com/yangcaogui" target="_blank">timyang</a>
                        </span>
                        <span class="searchItemInfo-publishDate">2012-06-09</span>
                        <span class="searchItemInfo-good">推荐(41)</span>
                        <span class="searchItemInfo-comments">评论(32)</span>
                        <span class="searchItemInfo-views">浏览(8348)</span>

                    </div>
                    <div class="searchItemInfo">
                        <span class="searchURL">http://www.cnblogs.com/yangcaogui/archive/2012/06/09/2537086.html</span>
                    </div>
                </div>

                <div id="paging_block"><div class="pager"><a href="/s/blogpost?Keywords=.net&pageindex=1" class="p_1 current">1</a><a href="/s/blogpost?Keywords=.net&pageindex=2" class="p_2">2</a><a href="/s/blogpost?Keywords=.net&pageindex=3" class="p_3">3</a><a href="/s/blogpost?Keywords=.net&pageindex=4" class="p_4">4</a><a href="/s/blogpost?Keywords=.net&pageindex=5" class="p_5">5</a><a href="/s/blogpost?Keywords=.net&pageindex=6" class="p_6">6</a><a href="/s/blogpost?Keywords=.net&pageindex=7" class="p_7">7</a><a href="/s/blogpost?Keywords=.net&pageindex=8" class="p_8">8</a><a href="/s/blogpost?Keywords=.net&pageindex=9" class="p_9">9</a><a href="/s/blogpost?Keywords=.net&pageindex=10" class="p_10">10</a><a href="/s/blogpost?Keywords=.net&pageindex=11" class="p_11">11</a>···<a href="/s/blogpost?Keywords=.net&pageindex=50" class="p_50">50</a><a href="/s/blogpost?Keywords=.net&pageindex=2">Next &gt;</a></div></div>
                <script type="text/javascript">var pagingBuider={"OnlyLinkText":false,"TotalCount":750,"PageIndex":1,"PageSize":15,"ShowPageCount":5,"SkipCount":0,"UrlFormat":"/s/blogpost?Keywords=.net&pageindex={0}","OnlickJsFunc":null,"FirstPageLink":null,"AjaxUrl":"/","AjaxCallbak":null,"TopPagerId":"pager_top","IsRenderScript":true};function buildPaging(pageIndex){pagingBuider.PageIndex=pageIndex;$.ajax({url:pagingBuider.AjaxUrl,data:JSON.stringify(pagingBuider),type:'post',dataType:'text',contentType:'application/json; charset=utf-8',success:function (data) { $('#paging_block').html(data); var pagerTop=$('#pager_top');if(pageIndex>1){$(pagerTop).html(data).show();}else{$(pagerTop).hide();}}});}</script>



            </div>
        </div>
        
    </div>
    <div style="clear: both;"></div>

    <div id="footer">
        &copy; 2017-2018 <a title="DotNetLive搜索中心" href="//www.cnblogs.com">DNL。Search</a>
    </div>

</body>
</html>
